{% extends "base.html" %}

{% block title %}Spotify Recommendation Playground{% endblock %}

{% block content %}

{% if message %}
    <div id="radio_alert" class="alert alert-danger mt-4" role="alert">{{ message }}</div>
{% endif %}

<div class="card mb-4 mt-4">
    <h5 class="card-header">1. Search for artists or songs to add</h5>
    <div class="card-body">

    <form id="artist_search">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input class="form-control" id="input1" name="input1" placeholder="Optional artist or song (e.g. beat it jackson or 21 pilots)" type="text">
        <div class="container mt-3">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-success">
                    <input name="radio1" type="radio" value="artist">
                    Artist
                </label>
                    
                <label class="btn btn-outline-success">
                    <input name="radio1" type="radio" value="track" class="ml-3">
                    Song
                </label>
            </div>
            <button id="artist_search_button" class="btn btn-outline-primary ml-3">Add Search Results To Next Pane</button>
        </div>
    </form>
    </div>
</div>

<div class="card mb-3">
    <h5 class="card-header">2. Make your selections</h5>
    <form method="POST" action="seed" id="search_form" class="card-body">

        <div id="artist_search_results" class="btn-group-toggle" data-toggle="buttons">
            <!-- Artist or song results append here -->
        </div>
       
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        <div class="form-group mt-2">      
            <select name="seed_genre" id ="seed_genre" class="form-control">
                {% for genre in genres %}
                <option value="{{genre[0]}}">{{genre[1]}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-success btn-sm m-2">
                <input type="checkbox" name="acousticness" value="1" class="form-check-input">
                Acoustic songs?
            </label>

            <label class="btn btn-outline-success btn-sm m-2">
                <input type="checkbox" name="danceability" value="1" class="form-check-input">
                Danceable music?
            </label>

            <label class="btn btn-outline-success btn-sm m-2">
                <input type="checkbox" name="energy" value="1" class="form-check-input">
                Energetic music?
            </label>

            <label class="btn btn-outline-success btn-sm m-2">
                <input type="checkbox" name="instrumentalness" value="1" class="form-check-input">
                Instrumental songs?
            </label>

            <label class="btn btn-outline-success btn-sm m-2">
                <input type="checkbox" name="liveness" value="1" class="form-check-input">
                Live songs?
            </label>

            <label class="btn btn-outline-success btn-sm m-2">
                <input type="checkbox" name="speechiness" value="1" class="form-check-input">
                More speaking?
            </label>

            <label class="btn btn-outline-success btn-sm m-2">
                <input type="checkbox" name="happy" value="1" class="form-check-input">
                Happy music?
            </label>
        </div>
        
        <hr>

        <div class="form-row m-2">
            <div class="col-auto">
                <select name="key" class="form-control form-control-inline">
                    {% for key in keys %}
                        <option value="{{key[0]}}">{{key[1]}}</option>
                    {% endfor %}
                </select>
            </div>
        
            <div class="col-auto">
                <select name="mode" class="form-control">
                    {% for mode in modes %}
                        <option value="{{mode[0]}}">{{mode[1]}}</option>
                    {% endfor %}
                    </select>
            </div>
        </div>

        <hr>

        <div class="btn-group-toggle" data-toggle="buttons">

            <label class="btn btn-outline-success btn-sm m-2">Enable Loudness
            <input type="checkbox" name="include_loudness" value="1" class="form-check-input">
            <input type="range" id="loudness" name="loudness" min="-60" max="0" class="custom-range">
            </label>
    
            <label class="btn btn-outline-success btn-sm m-2">Enable Popularity
            <input type="checkbox" name="include_popularity" value="1" class="form-check-input">
            <input type="range" id="popularity" name="popularity" min="0" max="100" class="custom-range">
            </label>
        
            <label class="btn btn-outline-success btn-sm m-2">Enable Tempo (beats per minute from 0-300)
            <input type="checkbox" name="include_tempo" value="1" class="form-check-input">
            <input type="range" id="tempo" name="tempo" min="0" max="300" class="custom-range">
            </label>

            <label class="btn btn-outline-success btn-sm m-2">Enable Time Signature (beats per measure from 2-12)
            <input type="checkbox" name="include_time_sig" value="1" class="form-check-input">
            <input type="range" id="time_sig" name="time_sig" min="2" max="12" class="custom-range">
            </label>

            <label class="btn btn-outline-success btn-sm m-2">Min. Duration (1-10 mins.)
            <input type="checkbox" name="include_min_duration" value="1" class="form-check-input">
            <input type="range" id="min_duration" name="min_duration" min="60000" max="600000" class="custom-range">
            </label>

            <label class="btn btn-outline-success btn-sm m-2">Max. Duration (1-10 mins.)
            <input type="checkbox" name="include_max_duration" value="1" class="form-check-input">
            <input type="range" id="max_duration" name="max_duration" min="60000" max="600000" class="custom-range">
            </label>

        </div>
        
        
    
</div><div class="card mb-3">
            <button class="btn btn-primary btn-lg m-2" type="submit">3. Get Music</button>  
        </div></form>

{% endblock %}